body {
    background-color: #223;
    color: #aa9;
}

#title {
    text-align:center;
}

#presentation {
    color: #AAAAAA;
    margin-left:  30%;
    margin-right: 30%;
}



/* box */
.box {
    background-color: #222;
    padding-top:    1%;
    padding-left:   1%;
    padding-right:  1%;
    padding-bottom: 1%;
    margin-top:   5%;
    border-radius: 25px;
}

/* link tree */
#ltree {
    color: #AAAAAA;
    margin-left:  20%;
    margin-right: 20%;
}

#ltree_title {
    margin-left:  2%;
    margin-right: 2%;
}

#ltree_core {
    margin-left: 10%;
}


.ltree{
    text-align: center;
    color: #ffccff;
}

.ltree:hover {
    color: hotpink;
}

