body {
    background-color: #223;
    color: #aa9;
}

#title {
    text-align:center;
}

#presentation {
    color: #AAAAAA;
    margin-left:  25%;
    margin-right: 25%;
}


#links {
    color: #AAAAAA;
    margin-left:  10%;
    margin-right: 10%;
}


