body {
    background-color: #223;
    color: #aa9;
}

#title {
    text-align:center;
}

#presentation {
    color: #AAAAAA;
    margin-left:  30%;
    margin-right: 30%;
}


/* link tree */
#ltree {
    color: #AAAAAA;
    margin-left:  20%;
    margin-right: 20%;
}

#ltree_core {
    margin-left:  5%;
    margin-right: 5%;
}


.ltree{
    color: #ffccff;
}

.ltree:hover {
    color: hotpink;
}

